* {
	text-decoration: none;
}

/*header*/
header {
	background-image: linear-gradient(-90deg, #F6FF00, #FF00A1);
	width: 100%;
	height: 70px;
	padding-top: 30px;
}

h1 {
	float: left;
	color: white;
	text-align: left;
	margin-left: 40px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 4px;
}

.about,
.categories {
	float: right;
	position: relative;
	margin-right: 44px;
	margin-top: 22px;
	color: white;
	font-family: 'Droid Sans', sans-serif;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 2px;
}

.dropdown-menu {
	background: white;
	visibility: hidden;
  	min-width: 150px;
	position: absolute;
  	transition: visibility 0.65s ease-in;
  	margin-top:20px;
	left: 0;
	z-index: 999;
	background-color: #ecf0f1;
	padding: 8px;
}

.categories:hover > ul,
.dropdown-menu:hover {
   visibility: visible;
}

.dropdown-menu li a {
	font-size: 24px;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	color: #8C8C8C;
	padding: 8px;
}

.dropdown-menu li {
	padding-top: 8px;
}

.dropdown-menu:first-child {
	padding-top: 0px;
}

.dropdown-menu li a:hover {
	color: #00ccff;
}

.about a {
	color: white;
}

.container{
	width: 732px;
	margin: auto;
	text-align: left;
	padding-top: 60px;
	padding-bottom: 60px;
}

/*emotions descriptions*/

h3 {
	color: #8C8C8C;
	padding-bottom: 15px;
	text-align: left;
	font-family: 'Droid Sans', sans-serif;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 2px;
	/*margin-left: 8px;*/

}

h3 a {
	text-decoration: none;
	font-size: 36px;
	padding-left: 10px;
	position: relative;
	top: 4px;
	font-weight: 900;

}

h3 a:hover {
	color: #00ccff;
}

/*unojis*/
.unoji {
	display: inline-block;
	width: 120px;
	height: 60px;
	background-color: #ecf0f1;
	padding-top: 50px;
	padding-bottom: -50px;
	text-align: center;
	/*border: 1px solid #bdc3c7;*/
	margin: auto;
	border-radius: 4px;
	margin: 1px;
	overflow: hidden;

}


.hoverColor { 
	background-color: #00ccff; 
}

a:hover,
.categories:hover {
	cursor: pointer;
}

@media all and (max-width: 768px) {
		.container {
			width: 488px;
		}

		h1 {
			text-align: center;
			margin: 0;
		}
	}

@media all and (max-width: 540px) {
		.container {
			width: 366px;
		}

		
	}